 <div class="w-full h-[40vh]" id="map" data-controller="map" data-map-latitude-value="<%= place.latitude %>" data-map-longitude-value="<%= place.longitude %>" data-map-name-value="<%= place.name %>">
  </div>